@import "base";

$container-width: 960px;
$units: 9;
$menu-unit-width: (100% / $units);

.nav  {
    margin: 0 !important;
}

.navbar, .navbar-collapse, .navbar-collapse { //override bootstrap
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.navbar {
    min-height: 30px;
}

button.navbar-toggle {
    padding: 0;
    height: 15px;
}

.nav > li > a {
    padding-top: 5px;
    padding-bottom: 0;
}

.navbar .navbar-toggle .icon-bar {
    background-color: white
}

.navbar-header a {
    vertical-align: bottom;
    text-decoration: none;
}

#main-menu {
    @include font($main-font, 300);
    display: block;
    ul.main-navigation {
        list-style: none;
        .tab {
            background-color: $um-header;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            a {
                cursor: pointer;
                text-decoration: none;
                color: white;
                p {
                    width: 100%;
                    display: block;
                }
            }
            a:hover {
                background: none;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}

#main-menu {
    background-color: $um-header;
    @include font($main-font, 300);
    .navbar-header {
        .menu-text {
            color: white;
            font-size: 16px;
        }
    }
    .menu-text {
        .home-link {
            display: block;
            font-size: 17px;
            vertical-align: top;
            display: inline-block;
            font-weight: 400;
            padding-left: 40px;
            padding-top: 0;
        }
    }
}

#main-menu a {
    color: white;
}

#main-menu ul li.dropdown-custom ul {
    display: none;
}

#main-menu ul li.dropdown-custom:hover ul {
    display: block;
    position: absolute;
    width: 100%;
    li {
        list-style: none;
        padding: 0;
        cursor: pointer;
        color: black;
        font-size: 13px;
        a {
            color: black;
            text-decoration: none;
        }
        &:hover {
            background: #ddd;
        }
    }
}