%div(data-ng-controller="PlanDetailCtrl")
  .row
    .left-column-container.column.col-md-2(data-ng-controller="CourseListCtrl")
      = render partial: 'plans/leftColumn'
    .right-column-container.column.container.col-md-10
      %h2.text-center Demo Plan
      = render partial: 'plans/semesterGrid'
    = render partial: 'plans/rules'