.landing
  %h1 Landing Page
  %p Landing Page Text
  %button
  = form_tag '/landing', method: :post do

    %br= email_field :user, :email, autofocus: true, placeholder: "Email"

    %br= password_field :user, :password, autocomplete: "off", placeholder: "Password"

    %br= password_field :user, :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation"

    %div{:class => "sign-up-submit"}>= submit_tag "Sign up"
