.col-lg-4.col-lg-offset-4(data-ng-controller="CourseListCtrl")
  %h1.text-center Search Courses
  %input(data-ng-model="query" id="query" class="form-control search-bar" type="text" placeholder="Type course name..." name= "search_query" value="#{session[:search_query]}" autocomplete="off")
  %table.table
    %thead
      %tr
        %th Name
        %th Units

    .body
      %div(infinite-scroll="addMoreCourses()" infinite-scroll-distance="2")
        %tr(data-ng-repeat="course in courses | limitTo:totalDisplayed")
          %td <a href="/courses/{{course.id}}">{{course.name}}</a>
          %td {{course.units}}