.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4(data-ng-controller="CourseListCtrl")
  %h1.text-center Search Courses
  %input(data-ng-model="query" id="query" class="form-control search-bar" type="text" placeholder="Type course name..." name= "search_query" value="#{session[:search_query]}" autocomplete="off")
  %table.table
    %tbody
      %div(infinite-scroll="addMoreCourses()" infinite-scroll-distance="2" cg-busy="{promise:coursePromise,message:'Loading Courses'}")
        %tr.row-hover(data-ng-repeat="course in courses | emptyIfBlank:query | filter:{searchNames: query} | limitTo:totalDisplayed")
          %td
            %a.click-link(data-ng-click="courseDisplay(course.id)")
              {{course.name}}
          %td {{course.title}}
  %div(data-ng-repeat="course in courses | emptyIfBlank:query | filter:{searchNames: query} | limitTo:totalDisplayed")
    = render 'plans/course_modal'