.left-column-container.column.col-md-3
.right-column-container.column.container.col-md-8
  %h2= @course.name
  %h3 Description
  #description= @course.description
  %h3 Rules Met
  %table.table
    %thead
      %tr
        %th Rule
        %th Description
    .body
      - @course.rule_list.each do |rule|
        %tr
          %td= link_to rule, display_rules_path(:rule => rule)
          %td= Rule.get(rule).description