@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "sass/utils";

$ld-grey: #8E8E8E;
$main-font: 'Open Sans', sans-serif;

body {
  font-family: $main-font;
}

ul {
  list-style: none;
}

.container { 
  padding-left: 0px; 
}

a {
  color: #587DA1 
}

a:hover { 
  text-decoration: none;
  opacity: 0.8; 
}
@font-face {
  font-family: 'Pacifico';
  src: font-url('Pacifico.ttf') format('truetype');
}
.home-link {
	font-family: 'Pacifico'
}