@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "sass/utils";

$um-header: #113366;
$main-font: 'Open Sans', sans-serif;

body {
  font-family: $main-font;
  background-color: #FCFCFC;
}

ul {
  list-style: none;
}

.container { 
  padding-left: 0px; 
}

a {
  color: #587DA1 
}

a:hover { 
  text-decoration: none;
  opacity: 0.8; 
}

@font-face {
  font-family: 'Pacifico';
  src: font-url('Pacifico.ttf') format('truetype');
}

.container, .container-fluid {
  width: 100%;
}

.home-link {
	font-family: 'Pacifico'
}

select {
  float: left;
  list-style: none;
  width: 100% !important;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

a.click-link {
  cursor: pointer;
  cursor: hand;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr.row-hover:hover {
  background-color: #f6f6f6;
}