@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "sass/utils";

$ld-grey: #8E8E8E;
$main-font: 'Open Sans', sans-serif;

body {
  font-family: $main-font;
}

ul {
  list-style: none;
}

.container { padding-left: 0px; }

.plan-name { color: #404040 } 
.course-input { width: 140px; font-size: 0.9em; }
.query { width: 147px; }

.thumbnail { height: 100% !important; width: 140px; }
#semesters .thumbnail, .thumbnail#backpack { min-height: 200px }
.profile { opacity: 0.9; border-color: #B1B3B1; border-style: solid; }
#backpack, #garbage, { border-color: grey; border-style: dashed; background: rgba(142, 142, 142, 0.05); }
#garbage { min-height: 100px; }

.btn-droppable { width: 100%; height: 30px; padding-left: 4px; }
.btn-draggable { width: 100%; margin-top: 1px; }

.bin, .year { color: grey; opacity: 0.5; font-size: 1.3em; display: inline-block; }

#semesters { float: left; }

a.fa.fa-times-circle { color: #990000; font-size: 0.9em; float: right; display: inline-block; cursor: pointer; cursor: hand; }
a.fa.fa-cog { padding-right: 2px; opacity: 0.9; color: #404040; font-size: 0.9em; float: right; display: inline-block; cursor: pointer; cursor: hand; }
a.fa.fa-times-circle:hover, a.fa.fa-cog:hover {opacity: 0.35; }

#rules { margin-left: 0px; padding-left: 0px; float: right; width: 30%; height: 625px; overflow:auto }

.caption { padding: 2px !important; }
.semester-name { padding-right: 30% !important; font-size: 1.7em; opacity: 0.9; -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1) }
.semester-name#fall { float: left ; padding-right: 30% !important; font-size: 1.7em; opacity: 0.9; -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1) }

a { color: #587DA1 }
a:hover { text-decoration: none; opacity: 0.8; }

td#result.red a.result { color: #990000; opacity: 0.7 }
td#result.green a.result { color: green; opacity: 0.7 }

a.result { cursor: pointer; cursor: hand; }
