// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info {
  float: left;
}
#course-sidebar {
  float:left;
  display: left;
}
.course-info {
  float: right;
}
.table-container {
  height: 100%;
  width: 22%;
  position: fixed;
  overflow: scroll;
}
.course-ellipsis {
  whites-space: nowrap;
  x-overflow: hidden;
  text-overflow: ellipsis;
}
#query{
  width: 100%;
}