// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info {
  float: left;
}
#course-sidebar {
  float:left;
  display: left;
}
.course-info {
  float: right;
}
#courses-container {
  height: 500px; 
  overflow:auto 
}
.course-ellipsis {
  whites-space: nowrap;
  x-overflow: hidden;
  text-overflow: ellipsis;
}
#catalog{
  width: 100%;
}