/* Landing Page */
@font-face {
  font-family: 'Pacifico';
  src: font-url('Pacifico.ttf') format('truetype');
}

body.landing_page { 
  height: 100%; width: 100%; 
  background: url('http://i.imgur.com/qVof81w.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /** input reset for styles across browsers. */
  textarea:focus, input:focus{
    outline: 0;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  input {
    -webkit-appearance: none; 
    -moz-appearance: none;
    border: 1px solid #eee; 
  } 

  form {
    width: 260px !important;
    margin-left: auto;
    margin-right: auto;
    color: black;

  }
  .input-field-middle {
    width: 260px;
    float: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    line-height: 2.5em;
    border-style: 1px solid;
    padding-left: 5px;

  }
  .user-submit {
    width: 260px;
    border: none;
    color: white;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    font-family: 'Open Sans', sans-serif;
    float: none;
    margin-top: 10px;
    line-height: 2.5em;
    font-size: 1.2em;

  }
  .input-field-top {
    width: 260px;
    -webkit-border-radius: 2px 2px 0px 0px;
    -moz-border-radius: 2px 2px 0px 0px;
    -o-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    float: none; 
    font-size: 1.2em;
    line-height: 2.5em;
    border-style: 1px solid;
    padding-left: 5px;
  }  
  .input-field-bottom {
    width: 260px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; 
    float: none; 
    line-height: 2.4em;
    font-size: 1.2em;
    border-style: 1px solid;
    padding-left: 5px;
  }
  .header { 
    margin-left: auto; 
    margin-right: auto; 
    width: 30%; 
    min-width: 260px; 
    text-align: center; 
    font-family: 'Open Sans', sans-serif; 
    color: white; 
    background-color: rgba(142,142,142,0.0); 
    border-style: 1px solid; 
    height: 400px;
  }
  h3 {
    font-family: 'Pacifico'; 
    line-height: 46px;
    font-size: 43px; 
    color: white; 
    text-align: center; 
  }
  h3.password {
    font-size: 36px;
    padding-bottom: 10px;
  }
  h2 { 
    padding-bottom: 20px; 
    padding-right: 7px; 
    padding-left: 7px; 
    text-align: center; 
    color: white; 
    font-size: 14px; 
    line-height: 13px; 
  }
  .right.carousel-control, .left.carousel-control {
  }
  img.carousel {
    visibility: hidden;
  }
  .carousel-indicators {
    position: absolute;
    bottom: 0;
  }

}