// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.plan-name { 
  color: #404040;
  width: 90%;
  float: left;
}
.dropdown-menu {
  position: relative;
  width: 100%;
  height: 100%;
  span {
    font-family: 'Open Sans', sans-serif !important;
  }
}
.plan-name input { 
  width: 90%;
  float: left;
}

a.edit-plan-name {
  float: right;
  padding-top: 25px;
}

.course-input { 
  width: 90%; 
  font-size: 0.9em; 
}

.query { 
  width: 90%; 
}

/* Show more course description. */
.course-description {
  line-height: 16px;
  height: 48px;
  overflow: hidden;
}

.show {
  overflow: visible;
  height: auto;
}

a.show-text {
  display: none;
}

a.hide-text {
  display: none;
}

a.show {
  display: block;
}

.gridItem { 
  height: 100% !important;
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.428571429;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  width: 25%;
}

#semesters {
  width: 100%;
}

#semesters .gridItem.semester { 
  min-height: 180px;
}

.gridItem.backpack {
  min-height: 180px;
}

.profile { 
  opacity: 0.9; 
  border-color: #B1B3B1; 
  border-style: solid;
  width: 90%;
}

.profile select {
  float: right !important;
  width: 50% !important;
  position: absolute;
}

.gridItem.backpack, .gridItem#garbage, { 
  border-color: grey; 
  border-style: dashed;
  width: 90%;
}

#garbage { 
  min-height: 90px;
}

.save {
  width: 90%;
}

.btn-droppable { 
  width: 100%; 
  height: 30px; 
  padding-left: 4px; 
}

.btn-draggable { 
  width: 100%;
  margin-top: 1px;
}

.gridLabel { 
  color: grey; 
  opacity: 0.5; 
  font-size: 1.3em; 
  display: inline-block; 
}

.units {
  position: absolute;
  bottom: 0;
  left: 5px;
  font-size: 0.85em;
  display: inline-block; 
}

.units.backpack {
  display: none;
}

.tabs {
  font-size: 1.7em; 
  opacity: 0.8; 
  right: 100%;
  -webkit-transform-origin: 100% 100%;
  -webkit-transform: rotate(-90deg);
  transform-origin: 100% 100%;
  transform: rotate(-90deg);
  position: absolute;
}

.caption {
  padding: 2px !important;
}

a.fa.fa-cog {
  padding-right: 2px; 
  opacity: 0.9; 
  color: #404040; 
  font-size: 0.9em; 
  float: right; 
  display: inline-block; 
  cursor: pointer; 
  cursor: hand;
}

a.fa.fa-times-circle:hover, a.fa.fa-cog:hover {
  opacity: 0.35;
}

#rules {
  margin-left: 0px; 
  padding-left: 0px; 
  width: 100%; 
  float: right;
  height: 585px; 
  overflow:auto 
}

td.result.red a.result { 
  color: #990000; 
  opacity: 0.7 
}

td.result.green a.result { 
  color: green; 
  opacity: 0.7 
}

tr.result.green {
}

tr.result.red {
}

a.result { 
  cursor: pointer; 
  cursor: hand; 
}