.left-column-container.column.col-md-3
.right-column-container.column.container.col-md-8
  %h2= @rule.name.to_s
  %h3= @rule.description
  %table.table
    %thead
      %tr
        %th Courses Fulfilling
    .body
      - Course.tagged_with(@rule.name.to_s).each do |course|
        %tr
          %th= link_to course.name, course_path(course)