.col-md-3.col-sm-3
.col-md-8.col-sm-8
  %h2 Rules
  %table.table
    %thead
      %tr
        %th Rule
        %th Description
    .body
      - @rules.values.each do |rule|
        - next if rule.hidden? or rule.core?
        %tr
          %td= link_to rule.name, display_rules_path(:rule => rule.name)
          %td= rule.description