.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "Course", role: "dialog", tabindex: "-1", id: "course_{{course.id}}"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title {{course.name}} {{course.title && "- "+course.title}}
      .modal-body
        %h5
          %b Description:
        .course-description(ng-class="{show: show}")
          {{course.description || "Sorry, something's missing!"}}
        %a.show-text(ng-click="show = true") Show more
        %a.hide-text(ng-click="show = false") Hide more
        %br 
        %br
        %b Units: 
        {{course.units}}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close