%input(data-ng-model="query" id="query" class="form-control search-bar course-input" type="text" placeholder="Add a course..." name= "search_query" value="#{session[:search_query]}" autocomplete="off")
.query
  .btn.btn-droppable(data-ng-repeat="course in courses | emptyIfBlank:query | filter:{name: query} | limitTo:4" data-drop="true" data-ng-model="courses" data-jqyoui-options="{accept:'.btn-draggable'}" jqyoui-droppable="{index: {{$index}},applyFilter:'filterCourses'}")
    .btn.btn-primary.btn-draggable(data-ng-click="courseDisplay(course.id)" data-drag="{{course.drag}}" data-jqyoui-options="{revert: 'invalid'}" data-ng-model="courses" jqyoui-draggable="{onStart: 'startDragging', index: {{$index}},placeholder:true,applyFilter:'filterCourses'}" data-ng-hide="!course.name")
      {{course.name}}
%br
= render 'plans/profile'
.gridItem.backpack(data-drop="true" data-ng-model="backpack" data-jqyoui-options="{accept:'.btn-draggable:not([data-ng-model=backpack])'}" jqyoui-droppable="{multiple:true}")
  .caption 
    .gridLabel backpack
    %a.fa.fa-cog(data-ng-click="semesterSettings('backpack')")
    .btn.btn-primary.btn-draggable(data-ng-click="courseDisplay(course.id)" data-ng-repeat="course in backpack" data-ng-show="course.name" data-drag="{{course.drag}}" data-jqyoui-options="{revert: 'invalid'}" data-ng-model="backpack" jqyoui-draggable="{onStart: 'startDragging', index: {{$index}}}")
      {{course.name}}
    .units(class="backpack") {{backpack.units}} units
.gridItem#garbage(data-drop="true" data-ng-model="garbage" data-jqyoui-options="{accept:'.btn-draggable:not([data-ng-model=garbage])'}" jqyoui-droppable="{multiple:true}")
  .caption
    .gridLabel garbage
    .btn.btn-primary.btn-draggable(data-ng-repeat="course in garbage" data-ng-show="course.name" data-drag="{{course.drag}}" data-jqyoui-options="{revert: 'invalid'}" data-ng-model="garbage" jqyoui-draggable="{index: {{$index}}}")
      {{course.name}}
.btn.btn-primary.save(data-ng-click="update()") Save Plan