.gridItem.profile
  .start-year
    start year:
    %select(data-ng-model="startYearString")
      %option(data-ng-repeat="year in years" value="{{year}}") {{year}}
  .total-units
    total units: {{units}}