#rules.col-md-2
  %table.table
    %thead
      %tr
        %th Rule
        %th Result
        / %th Fulfilling Set
    .body
      %tr(data-ng-repeat="rule in rules")
        %td 
          %a.rule(href="{{rule.url}}") {{rule.description}}
        %td#result(class="{{rule.result.pass | color}}") {{rule.result.pass | satisfied}}
        / %td
        /   .course(data-ng-repeat="course in rule.result.courses")
        /     {{course}}
