#rules.col-md-2
  %table.table
    %thead
      %tr
        %th Rule
        %th Result
        %th Fulfilling Set
    .body
      %tr(data-ng-repeat="rule in rules")
        / %td 
        /   %a(href="{{rule.url}}") {{rule.name}}
        %td 
          %a(href="{{rule.url}}") {{rule.description}}
        %td {{rule.result.pass}}
        %td
          .course(data-ng-repeat="course in rule.result.courses")
            {{course}}
