#rules.col-md-2
  %table.table
    %tbody
      %tr(data-ng-repeat="rule in rules")
        %td 
          %a.rule(href="{{rule.url}}") {{rule.description}}
        %td#result(class="{{rule.result.pass | color}}") 
          %a.result(data-toggle="modal" data-target="#fulfilling_set_{{rule.name}}") {{rule.result.pass | satisfied}}
          = render "plans/fulfilling_set_modal"
