%ul.dropdown-menu{"role"=>"menu", "aria-labelledby"=>"dLabel"}
  %li
    %a.fa.fa-times-circle(data-ng-click="clearSemester('#{semester}')")
      %span Clear Semester
    %a.fa.fa-briefcase(data-ng-click="pushToBackpack('#{semester}')")
      %span Clear to Backpack

    